<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form needs-validation [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <h1>Sign In</h1>
      <input
        type="text"
        id="email"
        class="fadeIn second form-control"
        name="email"
        placeholder="email"
        required
        formControlName="email"
        #email
        aria-describedby="inputGroupPrepend"
      />
      <div
        *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched "
        class="invalid-feedback d-block"
      >
        Email Obrigatório!
      </div>
      <div
        *ngIf="formLogin.get('email')?.errors && formLogin.get('email')?.touched"
        class="invalid-feedback d-block"
      >
        Email Inválido!
      </div>
      <input
        type="password"
        id="password"
        class="fadeIn third form-control"
        name="login"
        placeholder="password"
        required
        formControlName="password"
        #password
      />
      <div
        *ngIf="formLogin.get('password')?.errors?.['required'] && formLogin.get('password')?.touched "
        class="invalid-feedback d-block"
      >
        Senha Inválida!
      </div>
      <div
        *ngIf="formLogin.get('password')?.errors && formLogin.get('password')?.touched"
        class="invalid-feedback d-block"
      >
        A senha deve conter no mínimo 6 caracteres!
      </div>
      <button type="submit" class="btn btn-info" id="onSubmit" [disabled]="!formLogin.valid" >Log In</button>
    </form>
  </div>
</div>
