<div class="card mt-3">
  <div class="card-header">
    <h5>Bem vindo </h5>{{userlogged}}
    <div class="float-left">
      <h4>Lista de Cadastros</h4>
    </div>
    <div class="float-end">
      <button type="button" class="btn btn-danger" [routerLink]="['']">
        Logout
      </button>
    </div>
    <div class="float-none">
      <a type="button" class="btn btn-primary" [routerLink]="['/users/create']">
        Cadastrar Usuário
      </a>
    </div>
    <br />
    <div class="input-group mb-3">
      <form [formGroup]="formSearch" class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Usuário..."
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [formControl]="nameSearch"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="onSearch()"
        >
          Buscar
        </button>
      </form>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="onFilterActive()">Ativos</button>
      <button type="button" class="btn btn-primary"(click)="onFilterInactive()">Inativos</button>
      <button type="button" class="btn btn-primary" (click)="onFilterNothing()">Todos</button>
    </div>
  </div>
  <div id="AlertPlaceholder" class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Gênero</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              (click)="onEdit(user.id)"
            >
              {{ user.name }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              (click)="onEdit(user.id)"
            >
              {{ user.email }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              (click)="onEdit(user.id)"
            >
              {{ user.gender }}
            </button>
          </td>
          <td>
            <button
              type="button"
              class="list-group-item list-group-item-action"
              (click)="onEdit(user.id)"
            >
              {{ user.status }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
